/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/framework/views/3e526b3b820c2915f7b21bde028f39054c75e3b8.php
storage/framework/views/017291721ca46806f45f11c7d1a01faac76f87bb.php
